<a id="gohomeid" href ="/">
     <input class='prettybuttons3'type="button" id="logout" value="Logout"/> 
</a>
<br>
<br>
  <div class="col s12 m7">
    <h2 class="header"></h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <form action="/entry" id="form" method="post">
               <input name='comments' id='articleid' placeholder="What's on your mind?" />
               <button class="prettybuttons2" type='submit' id="submitbutton" value='Submit' />Submit</button> 
          </form>
          <div id="submitdiv">
          <div class="card-action">
          </div>
         </div>
       </div>
     </div>
   </div>
</div>

{{#each collection}}
<div class="card horizontal">
      <div class="card-stacked">
          <div class="card-content"> 
               {{this}}
          </div>
      </div>
</div>
{{/each}}



{{!-- 
<p>
   <i>
      <font color="black">
        Posted : 
        <strong>
         <span id="time"></span>
        </strong>           
      </font>
   </i>
</p> 

<script>
     var today = new Date();
     document.getElementById('time').innerHTML=today;
</script>
 --}}