<div id="centerdiv">
<form action="/create" method="post">
  <textarea name='comment' id='comment'></textarea><br />

  <input type='hidden' name='articleid' id='articleid' value='<? echo $_GET["id"]; ?>' />
  <div id="submitdiv">
  	<button type='submit' id="submitbutton" value='Submit' />Submit</button> 
  </div>
</form>
</div>


