<h1>{{title}}</h1>
<p>
	<div id="loginform">
		<form action="/users/login" method ="post"autocomplete="on"> 
     		<p> 
         		<input id="Email" name="email" required="required" type="text" placeholder="Email"/>
     		</p>
     		<p> 
          		<input id="password" name="password" required="required" type="password" placeholder="Password" /> 
     		</p>
     		<p class="keeplogin"> 
          		<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
{{!--           		<label for="loginkeeping">Keep me logged in</label>
 --}}     		</p>
     		<p class="login button"> 
          		<input class="prettybuttons" type="submit" value="Login" /> 
          			<a href ="/users/form" id="registrationtext">
          				<input class="prettybuttons1" id="registration" type="button" value="Not Registered? Register Here" /> 
          			</a>
     		</p>
		</form>
	</div>
</p>
